<!--
SPDX-FileCopyrightText: 2025 Imran Mustafa <imran@imranmustafa.net>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
<p class="content">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form class="box" method="POST" action="{% url 'login' %}">
{% csrf_token %}
{{ form | crispy }}
<input class="button is-link" type="submit" value="Sign Up">
<p class="mt-2 content"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>


{% endblock %}
