<!--
SPDX-FileCopyrightText: 2025 Imran Mustafa <imran@imranmustafa.net>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Yet Another Pastebin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
      >
  </head>
  {% block navbar %}
  {% include 'navbar.html' %}
  {% endblock %}
  {% if messages %}
  {% for message in messages %}
  <div class="notification">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
